/*Body background color and header styling ..*/

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity:0.9;
  margin-left: 0;
  margin-right: 0;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;

}
.container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  width: auto;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding: 22.2px 22.2px;
}

.nav span a{
  display: inline-block;
  color: inherit;
  padding-left: 20px;
}

 /*...Main styling and positioning...*/

.main{
  display: flex;
  align-items: center;
}

.main {
  background-image: url("../images/miss-background.jpg");
  height: 700px;
  width: 1200px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;

}

.content {
  background-color: black;
  text-align: center;
  width: 1200px;
}

/* ..Midway styling and positioning...*/

.midway {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  height: 700px;
  margin-left: auto;
  margin-right: auto;
}

.text {
  padding-top: 70px;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.berries {
  display: block;
  padding: 5px;
}
.berries span {
  display: block;
  padding: 5px;
  text-align: center;
}

.berries img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 10px;
}

.rum {
  display: block;
  padding: 5px;
}

.rum span {
  display: block;
  padding: 5px;
  text-align: center;
}

.rum img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 10px;
}

.dounuts {
  display: block;
  padding: 5px;
}
.dounuts span {
  display: block;
  padding: 5px;
  text-align: center;
}

.dounuts img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 10px;
}

.myrtle {
  display: block;
  padding: 5px;
}
.myrtle span {
  display: block;
  padding: 5px;
  text-align: center;
}

.myrtle img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 10px;
}

.bedford {
  display: block;
  padding: 5px;
}
.bedford span {
  display: block;
  padding: 5px;
  text-align: center;
}

.bedford img {
  width: 300px;
  height: 200px;
  display: block;
  margin: 10px;
}
