/*Body background color and header styling ..*/

body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity:0.9;
  margin-left: 0;
  margin-right: 0;
}

header {
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;

}
.container {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  width: auto;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px
}

.nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  padding: 22.2px 22.2px;
}

.nav span a{
  display: inline-block;
  color: inherit;
  padding-left: 20px;
}

 /*Main styling and positioning...*/

.main{
  display: flex;
  align-items: center;
}

.main {
  background-image: url("../images/miss-background.jpg");
  height: 700px;
  width: 1200px;
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;

}

.content {
  background-color: black;
  text-align: center;
  width: 1200px;
}
